html {
  margin: auto;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1215px;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #fdf3e7;
}

a {
  text-decoration: none;
  color: #0a0a47;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-mobile {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  position: -webkit-sticky;
  position: sticky;
  height: 3.4rem;
  padding: 2.5rem;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

header > h1 {
  padding-right: 30rem;
  margin: 0;
  font-size: 3rem;
  font-family: "DM Serif Display", sans-serif;
}

.intro {
  height: 500px;
  color: #0a0a47;
  width: 100%;
  height: auto;
  color: white;
}

.intro > p {
  position: absolute;
  padding-top: 244px;
  padding-left: 80px;
  font-family: "DM Serif Display", sans-serif;
  color: #0a0a47;
  line-height: 3.5rem;
  font-weight: bold;
  font-size: 3.2rem;
}

.intro > p > span {
  font-size: 4.5rem;
}

.intro #names {
  font-size: 3.5rem;
  background: -webkit-linear-gradient(#a15873, #0a0a47);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro #subtitle {
  display: none;
  padding-left: .3rem;
  letter-spacing: .5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.intro #styline {
  display: block;
  position: absolute;
  top: 360px;
  left: 145px;
  height: .5rem;
  width: 10rem;
  background-color: #a15873;
}

.intro #underline {
  -webkit-filter: brightness(75%);
          filter: brightness(75%);
  display: block;
  position: absolute;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  width: 40%;
  left: 410px;
  top: 400px;
}

#top-image {
  width: 100%;
  height: auto;
}

#mid-photo {
  height: 700px;
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  opacity: 0;
}

#mid-block {
  background-color: #0a0a47;
}

#about-header {
  font-family: "DM Serif Display", sans-serif;
  color: #a15873;
  font-size: 3.5rem;
  background: -webkit-linear-gradient(#eee, #a15873);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#about-section {
  padding: 1.4rem 3rem;
  margin-left: 1.4rem;
  border-radius: 1rem;
  color: white;
}

#transition-block {
  margin: 0;
  padding: 0;
  display: block;
  height: 20rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#0a0a47), to(#fdf3e7));
  background: linear-gradient(#0a0a47, #fdf3e7);
}

#faqstitle {
  display: block;
  text-align: center;
  font-family: "DM Serif Display", sans-serif;
  background: -webkit-linear-gradient(#eee, #a15873);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5rem;
}

#faqBlock {
  display: block;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  margin: 1rem 20rem;
  background-color: #a15873;
  color: white;
}

#faqBlock > h1 {
  font-family: "DM Serif Display", sans-serif;
}

#form-photo {
  height: 35rem;
  width: auto;
}

.page-content {
  padding-top: 10rem;
  width: 100%;
  margin: 0 auto;
  background-image: -ms-linear-gradient(136deg, #000046 0%, #1cb5e0 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
}

.form-v6-content {
  background: #fdf3e7;
  width: 968px;
  border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  margin: 180px 0;
  font-family: "DM Serif Display", sans-serif;
  color: #fff;
  font-weight: 700;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
}

.form-v6-content .form-left {
  margin-bottom: -6px;
}

.form-v6-content .form-left img {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.form-v6-content .form-detail {
  padding: 30px 40px;
  position: relative;
  width: 100%;
}

.form-v6-content .form-detail h2 {
  color: #333;
  font-size: 35px;
  text-align: center;
  position: relative;
  padding: 6px 0 0;
  margin-bottom: 47px;
}

.form-v6-content .form-row {
  width: 100%;
}

.form-v6-content .form-detail .form-row-last {
  text-align: center;
}

.form-v6-content .form-detail .input-text {
  margin-bottom: 35px;
}

.form-v6-content .form-detail input {
  width: 92%;
  padding: 0px 15px 10px 15px;
  border: 2px solid transparent;
  border-bottom: 2px solid #e5e5e5;
  appearance: unset;
  -moz-appearance: unset;
  -webkit-appearance: unset;
  -o-appearance: unset;
  -ms-appearance: unset;
  outline: none;
  -moz-outline: none;
  -webkit-outline: none;
  -o-outline: none;
  -ms-outline: none;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #333;
}

.form-v6-content .form-detail .form-row input:focus {
  border-bottom: 2px solid #fe892a;
}

.form-v6-content .form-detail .register {
  background: #0a0a47;
  border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  width: 160px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  border: none;
  margin: 11px 0 50px 0px;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}

.form-v6-content .form-detail .register:hover {
  background: #e37b27;
}

.form-v6-content .form-detail .form-row-last input {
  padding: 10px;
}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #666;
  font-size: 16px;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #666;
  font-size: 16px;
}

input:-ms-input-placeholder {
  /* IE 10+ */
  color: #666;
  font-size: 16px;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: #666;
  font-size: 16px;
}

/* Responsive */
@media screen and (max-width: 991px) {
  .form-v6-content {
    margin: 180px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
  }
  .form-v6-content .form-left {
    width: 100%;
  }
  .form-v6-content .form-left img {
    width: 100%;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 8px;
  }
  .form-v6-content .form-detail {
    padding: 30px 20px 30px 20px;
    width: auto;
  }
  .form-v6-content .form-detail .form-row input {
    width: 96%;
  }
  .form-v6-content .form-detail .register {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 767px) {
  .form-v6-content .form-detail .form-row input {
    width: 94%;
  }
}

@media screen and (max-width: 575px) {
  .form-v6-content .form-detail .form-row input {
    width: 89%;
  }
}
/*# sourceMappingURL=style.css.map */