
header{
    position: sticky;
    height: 3.4rem;
    padding:2.5rem;
    font-size:14px;
    font-family: $mainFont;

    
    >h1{
        padding-right:30rem;
        margin:0;
        font-size:3rem;
        font-family: $headings;
    }
}

.intro{
    height:500px;
    color:$deepNavy;
    width: 100%;
    height: auto;
    color: white;
       
    >p{
        position: absolute;
        padding-top:244px;
        padding-left:80px;
        font-family: $headings;
        color: $deepNavy;
        line-height: 3.5rem;
        font-weight: bold;
        font-size: 3.2rem;
        >span{
            font-size: 4.5rem;
        }
    }
    #names{
        font-size:3.5rem;
        background: -webkit-linear-gradient($dustBlush, $deepNavy);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    #subtitle{
        display: none;
        padding-left: .3rem;
        letter-spacing: .5rem;
        font-family: $mainFont;
        font-size: 1rem;
    }
    #styline{
        display: block;
        position: absolute;
        top:360px;
        left:145px;
        height: .5rem;
        width: 10rem;
        background-color: $dustBlush;
    }
    #underline{
        filter: brightness(75%);
        display: block;
        position: absolute;
        transform: rotate(-15deg);
        width: 40%;
        left:410px;
        top: 400px;
    }
}
#top-image{
    width:100%;
    height: auto;
}

